name: Data update

on:
  push:
    branches: [master]
  schedule:
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v6
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Get current time
        uses: gerred/actions/current-time@master
        id: now

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Prepare fetcher
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: xingrz/teleconan-fetcher
          file: teleconan-fetcher.tgz
          token: ${{ secrets.FETCHER_TOKEN }}

      - name: Install and run
        run: |
          npm install --no-save teleconan-fetcher.tgz
          node node_modules/teleconan-fetcher
          rm -rf node_modules teleconan-fetcher.tgz

      - name: Publish
        run: |
          git config user.name "Teleconan Fetcher"
          git config user.email "xingrz@users.noreply.github.com"
          if [[ -z "$(git status --porcelain)" ]] && [[ "${{ github.event_name }}" != "workflow_dispatch" ]]; then
            echo "No changes to commit"
          else
            echo "{\"updated_at\":\"${{ steps.now.outputs.time }}\",\"workflow_run\":\"${{ github.run_id }}\"}" > data/stats.json
            git add data
            git commit -m "Auto data update ${{ steps.now.outputs.time }}"
            git pull --rebase
            git push
          fi
